.card-img {
    height: 450px; /* Set the minimum height */
    width: 100%; /* Allow the width to adjust proportionally */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally if needed */
    object-fit: cover; /* Cover the entire container, even if it means cutting off parts of the image */
}

.hero {
    background: #f1f1f1;
}